.container{
    background-color: rgb(221, 219, 219);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    padding: 50px;
}

#pic{
    border-radius: 9999px;
    width: 300px;
}

#info{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}